<!doctype html>
<html>
<head>
<title>Junan Browser</title>
<style>
* {
    margin: 0;
    padding: 0;
}

.menu {
    height: 50px;
}

.url {
    height: 24px;
    width: 100%;
    font-size: 24px;
}

.go_button {
    height: 24px;
}
</style>

<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
<div style="width: 100%; height: 80px; border: 1px solid green;">
    <img src="static/back.png" class="menu" id="menu_back">
    <img src="static/forward.png" class="menu" id="menu_forward">
    <img src="static/refresh.png" class="menu" id="menu_refresh">
    <img src="static/home.png" class="menu" id="menu_home">

    <br />

    <input type="text" id="url" class="url" value="" />
</div>
<div style="width: 100%; height: calc(100vh - 120px)">
<iframe id='page' src="" style="width: 100%; height: 100%"></iframe>
</div>

<!-- status bar -->

<!--  check it's safety -->

<script>
function go() {
    $.ajax({
        url: '/safety',
        data: 'url='+url.value,
        method: 'POST',
        success: function(data) {
            var data = JSON.parse(data);
            if (data.status) {
                $.ajax({
                    url: '/browse',
                    data: 'url='+url.value,
                    method: 'POST',
                    success: function(data) {
                        var data = JSON.parse(data);
                        if (data.status) {
                            var browseData = data.data;
                            console.log(browseData);
							var iframe = document.getElementById('page'),
    iframedoc = iframe.contentDocument || iframe.contentWindow.document;
							iframedoc.body.innerHTML = browseData;
                        } else {
                            alert("WTF !?!"); 
                        }
                    }

                })
            } else {
                alert("This is not a safety page!");
            }
        },
    });
}

$('#url').keydown(function (e) {
    if (e.keyCode == 13) {
        go();
    }
});

$('#menu_back').click(function () {
    alert("under construction");
});

$('#menu_forward').click(function () {
    alert("under construction");
});

$('#menu_refresh').click(function () {
    page.src=page.src;
    url.value = page.src;
});

$('#menu_home').click(function () {
    page.src = 'main.html';
    url.value = page.src;
});

$('#menu_home').click();
</script>
</body>

</html>

